VITE_SUPABASE_URL=https://jmoxrfoxsgyopoeclwix.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imptb3hyZm94c2d5b3BvZWNsd2l4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzkzNjYzNTQsImV4cCI6MjA1NDk0MjM1NH0.aGNVWUvtSAkd9DeGHtAI2weY0bxilhKXZ_v1BqJPzdE